body {
	font-family: Arial, sans-serif;
  font-size: 80%;
  text-decoration: none;
  color: #555753; 
  background: #ffffff;
  margin: 0;
	padding: 0;

}

 /** ************************************************ */

div.container {
	padding: 0;
}

div.container .header,
div.container .body {
	padding: 10px 20px;
}

div.container .header {
	background: #69c;
	color: #fff;
}

div.container .header h1 {
	font-size: 2em;
	font-weight: bold;
}

div.container .header .logo-image {
	background: #fff;
	border-radius: 100%;
	padding: 6px;
	vertical-align: middle;
	opacity: .5;
}


/** ************************************************ */



div.url {
	margin-bottom: 20px;
}
	div.url input[name="url"] {
		padding: 5px 5px;
		width: 100%;
	}

.tagline {
	position: absolute;
	bottom: 0;
	font-size: .8em;
}
.tagline , .tagline a {
	color: grey;
}


input#bexport {
	background-color: #396;
	color: #efe;
}
input#bstop {
	background-color: #933;
	color: #fee;
}
input#bexportxy ,
input#bdoc {
	background-color: #999;
	color: #eee;
}


input[type=submit], input[type=button] {
	border: 0;
	color:#eef;
	padding:0.25em 0.5em;
	background: none repeat scroll 0 0 #369;
	font-size: 1.2em;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	cursor: pointer;
}
